<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">{{ document.name }}</span>
      <a type="button" class="btn btn-primary pull-right">Edit</a>
      <a type="button" class="btn btn-danger pull-right">Delete</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <p><strong>Description: </strong>{{ document.desc }}</p>
      <p><strong>URL: </strong>{{ document.url }}</p>
    </div>
  </div>
</div>